<div class="container">
  <div class="row">
    <div class="center-block">
      <p class="text-center">
        ようこそ、<span>おそうじマニア</span>の皆さま！<br>
        ここは、日々のおそうじに関する様々な情報を共有するサイトです。<br>
      　「結局どうやればいいの？」「このやり方おすすめ！」というQ＆Aの出会いの場となっています。<br>
      　閲覧だけなら会員登録は不要！<br>
      　ラクに、キレイな、おそうじを！
      </p>
      <div class="row m-3 p-3 justify-content-center">
        <br>
        
        <br>
        
      </div>
    </div>
  </div>
</div>