<div class="container">
  <div class="row">
    <h3>管理者のメモ<h3>
  </div>
  
  <div class="row">
    <h3>＜管理者のメモ一覧＞</h3>
    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>メモ内容</th>
          <th>作成日時</th>
        </tr>
      </thead>
    　<tbody>
    　
    　   <tr>
    　     <td></td>
    　     <td></td>
          <td></td>
    　   </tr>
    　</tbody>
      
    </table>
  <div>
</div>  